* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.row {
    width: 100%;
    display: block;
    flex-wrap: wrap;
    margin: 0;
    text-align: center;
}

.title-picture,
.title-hr {
    padding-right: 0;
    padding-left: 0;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-uppercase {
    text-transform: uppercase;
}

.col-md-1 {
    width: 8.33%;
}

.col-md-2 {
    width: 16.66%;
}

.col-md-3 {
    width: 25%;
}

.col-md-4 {
    width: 33.33%;
}

.col-md-5 {
    width: 41.66%;
}

.col-md-6 {
    width: 50%;
}

.col-md-6-logo,
.col-md-6-name {
    width: 50%;
    padding-top: 25px;
    padding: 0;
    margin: 0;
    float: left;
    text-align: center;
}

.col-md-6-resume,
.col-md-6-webOp {
    float: left;
    margin-right: 10px;
    width: calc((100% - 10px)/2);
    padding: 0;
}

.col-md-6-arcade,
.col-md-6-map {
    float: left;
    margin-right: 0;
    width: calc((100% - 10px)/2);
    padding: 0;
}

.col-md-6-feed {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding: 0;
}

.col-md-7 {
    width: 58.33%;
}

.col-md-8 {
    width: 66.66%;
}

.col-md-9 {
    width: 75%;
}

.col-md-10 {
    width: 83.33%;
}

.col-md-11 {
    width: 91.66%;
}

.col-md-12,
.col-sm-12 {
    width: 100%;
    padding: 0;
}


@media only screen and (max-width: 450px) {
    h1 {
        font-size: 1.7em;
        margin-top: 10px;
        margin-bottom: 7px;
    }

    h2 {
        font-size: 1.4em;
        margin-top: 10px;
    }

    h3 {
        font-size: 1.15em;
    }

    h4 {
        font-size: 0.95em;
        margin-top: 5px;
    }

    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    p {
        font-size: 0.6em;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .logo {
        height: 75px;
        padding: 0;
        margin-top: 10px;
    }

    .col-md-6 {
        vertical-align: bottom;
    }

    .col-md-6-logo,
    .col-md-6-name,
    .col-md-6-resume,
    .col-md-6-webOp,
    .col-md-6-arcade,
    .col-md-6-map {
        width: 100%;
        padding: 0;
    }

    .col-md-6-feed,
    .col-md-12 {
        width: 100%;
    }
}


@media only screen and (min-width: 451px) and (max-width: 650px) {
    h1 {
        font-size: 2.15em;
    }

    h2 {
        font-size: 1.65em;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 1.25em;
    }

    hr {
        margin-top: 7.5px;
        margin-bottom: 7.5px;
    }

    p {
        font-size: 0.6em;
    }

    .logo {
        height: 105px;
        padding-top: 13px;
    }

    .col-md-6-name {
        padding-top: 13px;
        text-align: right;
    }
}


@media only screen and (min-width: 651px) and (max-width: 1099px) {
    h1 {
        font-size: 2.9em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.65em;
    }

    hr {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    p {
        font-size: 0.75em;
    }

    .logo {
        height: 120px;
        padding-top: 15px;
    }

    .col-md-6-name {
        padding-top: 15px;
        text-align: right;
    }
}


@media only screen and (min-width: 1100px) {
    h1 {
        font-size: 3.5em;
    }

    h2 {
        font-size: 2.8em;
    }

    h4 {
        font-size: 2em;
    }

    .container {
        width: 1100px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        height: 145px;
        padding-top: 20px;
    }

    .col-md-6-name {
        padding-top: 20px;
        text-align: right;
    }
}